Repository mantidproject/mantidimaging, pull requests merged in 2024-06, with the labels that each got.

#2186 NaN warnings activated in the Spectrum Viewer
  docs/release_notes/next/fix-2185-spectrum-nan-warning
  mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.py
  mantidimaging/gui/windows/spectrum_viewer/test/spectrum_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Labels: Type: Improvement, Component: GUI

#2217 Qt-material theme bug fix
  docs/release_notes/next/fix-2209-theme_os_startup_instability
  mantidimaging/gui/windows/main/presenter.py
Labels: Type: Bug, UX / GUI

#2227 Spectrum viewer refactoring - Moving logic from the view to the presenter
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Labels: Type: Improvement, Quality: Testing

#2233 unit test added for spectrum widget roi colour change
  mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.py
  mantidimaging/gui/windows/spectrum_viewer/test/spectrum_test.py
Labels: Quality: Testing

#2232 Remove sarepy from dependancies
  environment-dev.yml
  mantidimaging/core/operations/remove_stripe_filtering/remove_stripe_filtering.py
Labels: cleanup

#2235 Stack change units tests added to Spectrum Viewer
  docs/release_notes/next/dev-2213-spectrum-stack-switch-tests
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Labels: Quality: Testing, Release essential

#2234 Toggle shuttercount
  docs/release_notes/next/feature-2230-ShutterCount_Correction_CheckBox
  mantidimaging/gui/ui/spectrum_viewer.ui
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Labels: Component: GUI, Release essential

#2241 Flash PR - Spectrum Viewer: ToF Range changed to Range
  mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.py
  mantidimaging/gui/windows/spectrum_viewer/test/spectrum_test.py
Labels: Release essential
