Repository mantidproject/mantidimaging, pull requests merged in 2024-04, with the labels that each got.

#2151 Switch Time of Flight units in Spectrum Viewer
  docs/release_notes/next/feature-2151-spectrum-viewer-ToF-units
  mantidimaging/core/utility/unit_conversion.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
  mantidimaging/gui/windows/spectrum_viewer/test/spectrum_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Labels: Type: Feature, Component: GUI, UX / GUI

#2144 Added Settings menu to Main Window with Theme options
  conda/meta.yaml
  conftest.py
  docs/release_notes/next/feature-2144-UI-theme-settings
  mantidimaging/gui/mvp_base/view.py
  mantidimaging/gui/ui/main_window.ui
  mantidimaging/gui/ui/settings_window.ui
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/settings/__init__.py
  mantidimaging/gui/windows/settings/presenter.py
  mantidimaging/gui/windows/settings/view.py
  mantidimaging/main.py
Labels: Type: Feature, Component: GUI, UX / GUI, dependencies, rebuild_docker 🐋, EDI

#2162 Switch to pydata theme for docs
  .github/actions/publish-docs/action.yml
  .github/workflows/docs.yml
  Makefile
  docs/_static/extra.css
  docs/_static/version_switcher.json
  docs/_templates/layout.html
  docs/_templates/versioning.html
  docs/conf.py
  docs/release_notes/next/dev-2080-sphinx-pydata
  environment-dev.yml
  setup.py
Labels: Component: Documentation

#2159 Enter Time of Flight user properties in Spectrum Viewer
  mantidimaging/core/utility/unit_conversion.py
  mantidimaging/gui/ui/spectrum_viewer.ui
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Labels: Type: Feature, Component: GUI

#2178 Unit Tests for UnitConversion Class
  docs/release_notes/next/dev-2172-unit-conversion-tests
  mantidimaging/core/utility/test/unit_conversion_test.py
  mantidimaging/core/utility/unit_conversion.py
Labels: Quality: Testing
